<footer class="bg-dark position-relative bottom-0 w-100">
        

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright © 2021 Company Name 
                        | Designed by <a rel="sponsored" href="" target="_blank">Tejaswini</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>