<section class="bg-success py-5">
    <div class="container my-5">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Contact Us</h1>
                <div class="col-12">
                
                    <p class="text-800"><i class="fa fa-phone-alt text-info me-2"></i><span class="text-900">+214556905345</span></p>
                    <p class="text-800"><i class="fa fa-envelope text-warning me-2"></i><span class="text-800">example@email.com</span></p>
                    <p class="text-800"><i class="fa fa-map-marker-alt text-danger me-2"></i><span class="text-800">567, Kansas,  San Francisco, USA </span></p>
                  </div>
            </div>
            <div class="col-md-4">
                <img src="assets/images/about.png" class="img-fluid" alt="About Hero">
            </div>
        </div>
    </div>
</section>