<div id="company_banner">
    <div class="container">
        <div class="row p-5">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" src="./assets/images/banner_img_03.jpg" alt="">
            </div>
            <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                    <h1 class="h1 text-success"><b>Zudio</b> eCommerce</h1>
                    <h3 class="h2">Free Delivery on first order</h3>
                    <p>
                        Zudio Shop is an eCommerce website <a class="text-success" href="" target="_blank"></a> website.
                        Get exciting offer.Hurry up <a class="text-success" href="#" target="_blank">Shop Now</a>,To know about us
                        <a class="text-success" routerLink="about">Click here</a> and to contact us
                        <a class="text-success" routerLink="contact">Click here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <app-product></app-product>
        <!-- <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/images/product/lamp1.jpeg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                       
                        <a href="#" class="h2 text-decoration-none text-dark">Gym Weight</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                        <p class="text-muted">$480.00</p>
                    </div>
                </div>
            </div>
            
        </div> -->
    </div>
</section>